

body{background-image: url(img/img1.jpg);
background-size:cover ; background-repeat: no-repeat;
background-position:center;
background-attachment:fixed;
height: 100%;
width: 100%;
overflow-x: hidden;
transition: 5s;
animation-name:animateb ;
animation-direction:alternate-reverse ;
animation-duration:30s ;
animation-fill-mode: forwards;
animation-iteration-count:infinite ;
animation-play-state:running ;
animation-timing-function:ease-in-out ;
}
  @keyframes animateb{ 
    0%{
      background-image: url(img/img1.jpg);
    }40%{
      background-image: url(img/img2.jpg);
    }60%{
      background-image: url(img/img3.jpg);
    }80%{
      background-image: url(img/img4.jpg);
    }}
 
 
 
      header h3,header h1{color:rgba(253, 232, 232, 0.644);position: relative; 
        text-align: center;
        text-shadow: 2px 2px blueviolet;
        font-family: Arial, Helvetica, sans-serif;
        font-style: oblique;
        font-weight: 900; 
   font-size: 27px;}
  
  header h1{ letter-spacing: 8px; 
    width: 100%;
    text-transform: uppercase;}

 
  nav {
  
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  Nav a {
    color:rgba(0, 0, 0, 0.644);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
    transition: all 0.5s;
  }


  nav a:hover {
    background-color:rgb(255, 254, 255);
 border-radius: 50%;
  }
}


main { 
  position: relative;
  height: 205px;
  color: white;
  margin: 20px;
}


main h1,h2 { 
  color:rgba(253, 232, 232, 0.644);
  font-size: 30px;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 14px;
  padding-right: 14px;
  text-decoration: ;
  text-align: center;
  text-shadow: 2px 2px blueviolet;

}

main img {
  position: relative;
  left: 20%;
}

footer{ color:rgba(253, 232, 232, 0.644);
  padding-top: 60px;
  height: 100px;
position: relative;
}


  



footer a {color:rgba(253, 232, 232, 0.644);
 position:relative;
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  font-display: bolder;
top:80px;
  
}

footer p{ position:relative ;
font-weight: 900;
left:80%; top:40px;}
 

David Opoku   Date:sep/23/2020